*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f5f5f5;
    text-align: center;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex-direction: row-reverse;
}
.home-button {
    text-decoration: none;
    background: #007bff;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
}
.product-container {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 650px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.product-image {
    max-width: 250px;
    height: auto;
    border-radius: 10px;
}
.product-details {
    margin-left: 20px;
    text-align: left;
}
.product-title {
    font-size: 20px;
    margin: 10px 0;
}
.product-price {
    font-size: 20px;
    color: #d9534f;
    font-weight: bold;
}
.header h1{
    font-size: 22px;
}
.add-to-cart {
    background: #28a745;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    display: block;
    text-align: center;
    text-decoration: none;
}
.info-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 800px;
    margin: 20px auto;
    flex-direction: column;
}
.company-info, .other-products {
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-width: 300px;
    margin-bottom: 20px;
}
.company-info p{
    font-size: 16px;
    color: #555;
}
.image-slider-block {
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-width: 300px;
    height: 300px;
    gap: 20px;
    display: flex;
    align-items: center;
    scroll-snap-type: mandatory;
    overflow-x:scroll;
}
.image-slider-block img{
    margin: 0 10px;
    max-width: 200px;
    height: auto;
}
.reviews {
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 20px auto;
    text-align: left;
}
a{
    list-style: none;
    text-decoration: none;
}
.review-form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 400px;
}
.review-form textarea {
    width: 100%;
    max-width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: none;
    font-size: 16px;
}
.review-form button {
    width: 100%;
    max-width: 100%;
    background: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

@media (min-width: 768px) {
    .product-title h2{
        font-size: 23px;
    }
    .product-container {
        flex-direction: row;
        justify-content: space-between;
    }
    .product-image {
        flex: 1;
    }
    .product-details {
        flex: 1;
    }
    .review-form {
        max-width: 300px;
        margin: auto;
    }
    .review-form textarea, .review-form button {
        width: 100%;
    }
   
}
@media (max-width: 768px){
    .product-container {
        background: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
       width: auto;
        margin: 20px auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .review-form h3{
font-size: 15px;
    }
    .product-title h2{
        font-size: 20px;
    }
    .company-info p{
        font-size: 11px;
        color: #555;
    }
    .add-to-cart {
        background: #28a745;
        color: #fff;
        border: none;
        padding: 10px 6px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 12px;
        display: block;
        text-align: center;
        text-decoration: none;
    }
    .reviews h3{
        font-size: 16px;
    }
    .product-price p{
        font-size: 10px;
        color: #d9534f;
        font-weight: bold;
    }
}