<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login & Signup</title>
    <link rel="stylesheet" href="../stylesheet/Landing_pagestyle.css">
</head>
<body>
    <div class="container">
        <div class="form-box">
            <h1>Sigin Page</h1>
            <form id="signup-form" action="/signin/register" method="post">
                <input type="text" placeholder="Full Name" name="fullname">
                <input type="email" placeholder="Email" name="email">
                <input type="password" placeholder="Password" name="password">
                <button type="submit">Sign Up</button>
                <a href="/login">Already Have An Account</a>
            </form>
        </div>
    </div>
</body>
<script>
    document.getElementById("signup-form").addEventListener("submit", function (e) {
      const email = this.email.value.trim();
      const password = this.password.value.trim();
      const name = this.fullname.value.trim();
      const emailPattern = /^[^ ]+@[^ ]+\.[a-z]{2,3}$/;
  
      if (name === "") {
        alert("Full name is required.");
        e.preventDefault();
        return;
      }
  
      if (!emailPattern.test(email)) {
        alert("Please enter a valid email address.");
        e.preventDefault();
        return;
      }
  
      if (password.length < 6) {
        alert("Password must be at least 6 characters long.");
        e.preventDefault();
        return;
      }
    });
  </script>
  
</html>
